*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
:root{
    --main-color: #ff9900;
    --primary-color: #edf2fc;
    --secondary-color: #212121;
    --nav-color: #edf2fc;
    --nav-text-color: #edf2fc;
}

body{
    height: 100vh;
    background: var(--primary-color);
    transition: background 1s;
}

nav{
    width: 100%;
    height: 15vh;
    padding: 20px 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #212121;
}
.logo{
    display: flex;
    align-items: center;
}
#logo-img{
    height: 40px;
    cursor: pointer;
    border-radius: 15px;
}
#logo-text{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    margin-left: 20px;
    color: var(--main-color);
    transition: color 1s;
}
ul{
    flex: 1;
    text-align: right;
    list-style: none;
}
ul li{
    display: inline-block;
    margin: 4px;
    padding: 10px 15px;
}
ul li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: var(--nav-text-color);
    transition: color 1s;
    padding: 4px 8px;
}
ul li a:hover{
    border-radius: 100px;
    padding: 4px 8px;
    color: #ff9900;
    border-bottom: 1.5px solid;
}
.main{
    height: 120%;
    display: flex;
    justify-content: space-around;
    background-color: #212121;
}
.main .left-column{
    width: 60%;
    justify-content: center;
    text-align: center;
    align-items: center;
    float: left;
    position: relative;
    padding-top: 55px;
    background-color: #212121;

}

.main .left-column h1{
    color:#ff9900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main .left-column p{
    text-align: left;
    color: rgb(211, 211, 211);
    font-size: 24px;
    padding: 25px 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main .right-column h1{
    padding-left: 180px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff9900;
    padding-top: 35px;
    font-size: 45px;
    transition: 1s;
    text-decoration:overline;
}
.main .right-column h1:hover{
    color: #212121;
}
.main .right-column h2{
    padding-top: 370px;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 37px;
    transition: 1s;
    text-decoration:overline;
}


.main .right-column{
    width: 40%;
    float: right;
    position: relative;
    background-color: gray;
    border-top-left-radius: 40px;
    
}

.blob
{
    position: absolute;
    width: 410px;
    height: 410px;
    padding-left: 20px;
    
}
.blob:nth-child(2)
{
    filter: blur(50px);
}

/*blobb*/
.blob2{
    position: absolute;
    width: 200px;
    height: 200px;
}

.blob2:nth-child(3)
{
    filter:blur(40px);
}


.blob3
{
    position: absolute ;
    width: 410px;
    height: 410px;
    padding-top: 40px;
    padding-left: 40px;
    
}
.blob3:nth-child(2)
{
    filter: blur(50px);
}

/*blobb*/
.blob3{
    position: absolute;
    width: 200px;
    height: 200px;
}

.blob3:nth-child(5)
{
    filter:blur(40px);
}
.right-column h3{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 100px 10px 10px 300px;
    color: #212121;
    text-decoration: overline;
    transition: 1s;
}
.right-column h3:hover{
    color:#ff9900;
}

footer{
    height: 30%;
    background: grey;
    padding: auto;
    justify-content: center;
    align-items: center;
    
}
footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#212121;
    text-align: center;
    font-size: 25px;
    padding: 20px 20px;
    justify-content: center;
}
footer button{
    color: white;
    background: var(--main-color);
    border: none;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 550px;
    padding-right: 550px; 
    transition: 0.5s;
    
}
footer button a{
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
footer button:hover{
    background-color: #212121;
}
footer button a:hover{
    color:#ff9900 ;
}