*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
:root{
    --main-color: #ff9900;
    --primary-color: #edf2fc;
    --secondary-color: #212121;
    --nav-color: #edf2fc;
    --nav-text-color: #edf2fc;
}
body{
    height: 100vh;
    background: var(--primary-color);
    transition: background 1s;
}
nav{
    width: 100%;
    height: 15vh;
    padding: 20px 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #212121;
}
.logo{
    display: flex;
    align-items: center;
}
#logo-img{
    height: 40px;
    cursor: pointer;
    border-radius: 15px;
}
#logo-text{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    margin-left: 20px;
    color: var(--main-color);
    transition: color 1s;
}
ul{
    flex: 1;
    text-align: right;
    list-style: none;
}
ul li{
    display: inline-block;
    margin: 4px;
    padding: 10px 15px;
}
ul li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: var(--nav-text-color);
    transition: color 1s;
    padding: 4px 8px;
}
ul li a:hover{
    border-radius: 100px;
    padding: 4px 8px;
    color: #ff9900;
    border-bottom: 1.5px solid;
}
.contact-section{
    background-color: #212121;   
}
.contact-section h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    color: #ff9900;
    text-align: center;
    max-width: 600px;  
    margin: 0 auto;
}
.contact-section p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 8px;
    color: white;
    text-align: center;
    max-width: 600px;  
    margin: 0 auto;
}
.main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #212121;
}
.left-culumn{
    width: 30%;
    height: 100%;
    float: left;
    position: relative;

}

/*----img-box-----*/
.blob
{
    position: absolute;
    width: 450px;
    height: 450px;
    
}
.blob:nth-child(2)
{
    filter: blur(50px);
}

/*blobb*/
.blob2{
    position: absolute;
    width: 200px;
    height: 200px;
}

.blob2:nth-child(3)
{
    filter:blur(40px);
}
.right-column{
    position: relative;
    height: 60%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:gray;
    border-radius: 10%;
    padding-top: 50px;
    float: right;
}

.right-column p{
    font-weight: 300;
    color: fff;
}


.right-column h2{
    padding-bottom: 15px;
    color:#212121;
    font-weight: 500;
    font-size: 36px;
    color: fff;
}
.right-column .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    
}
.right-column .inputbox input,
.right-column .inputbox textarea{
    width: 100%;
    padding: 5px 7px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    border-radius: 3px;
    outline: none;
    resize: none;
}
.right-column .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 5px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.right-column .inputbox input:focus ~ span,
.right-column .inputbox input:valid ~ span,
.right-column .inputbox textarea:focus ~ span,
.right-column .inputbox textarea:valid ~ span
{
    color: #000000;
    font-size: 12px;
    transform: translateY(-20px);
}
.right-column .inputbox input[type="submit"]
{
    width: 100px;
    background: #212121;
    color: #edf2fc;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 7px;
    font-size: 18px;
    transition: 0.6s
}
.right-column .inputbox input[type="submit"]:hover{
    background-color: #ff9900;
    color: #212121;
}



.under-column{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #212121;
    padding-right: 20px
}
.under-column .blobb
{
    position: absolute;
    width: 150px;
    height: 150px;
    
}
.under-column .blobb:nth-child(2){
    filter: blur(100px);
}

/*blobb*/
.under-column .blobbb{
    position: absolute;
    width: 160px;
    height: 160px;
}

.under-column .blobbb:nth-child(2)
{
    filter:blur(40px);
}
footer{
    background-color: grey;
    width: 100%;
    height: 25%;
}
footer h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px ;
    padding-bottom: 30px;
    color:#212121;
    text-align: center;
    max-width: 600px;  
    margin: 0 auto;
}
footer .icons-links{
    text-align: center;
}

footer .icons-links a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color:#212121;
    transition: color 1s;
    padding: 30px 20px;
}

