*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root{
    --main-color: #ff9900;
    --primary-color: #edf2fc;
    --secondary-color: #212121;
    --nav-color: #edf2fc;
    --nav-text-color: #edf2fc;
}

.dark-mode{
    --primary-color: #212121;
    --secondary-color: #edf2fc;
    --nav-color: #ff9100;
    --nav-text-color: #edf2fc;
}
body{
    height: 100vh;
    background: var(--primary-color);
    transition: background 1s;
}
/*-----navbar-----*/
nav{
    width: 100%;
    height: 15vh;
    padding: 20px 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #212121;

}

.logo{
    display: flex;
    align-items: center;
}
#logo-img{
    height: 40px;
    cursor:pointer;
    border-radius: 15px;
}
#logo-text{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:none;
    margin-left: 20px;
    color: var(--main-color);
    transition: color 1s;
}
ul{
    flex: 1;
    text-align: right;
    list-style: none;

}
ul li{
    display: inline-block;
    margin: 4px;
    padding: 10px 15px;
}
ul li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: var(--nav-text-color);
    transition: color 1s;
    padding: 4px 8px;
}
ul li a:hover{
    border-radius: 100px;
    padding: 4px 8px;
    color: #ff9900;
    border-bottom: 1.5px solid;
}


#Mode{
    height: 30px;
    width: 80px;
    margin: 10px;
    background: var(--secondary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
}
#Switch{
    height: 26px;
    width: 26px;
    margin: 2px 2px;
    background: var(--primary-color);
    border-radius: 50%;
    transition: transform .5s;
}

.Switch-active{
    transform: translateX(50px);
}

#Inner-text{
    font-size: 15px;
    right: 10px;
    color: var(--primary-color);
    position: absolute;
    transition: transform .5s;
}

.Inner-text-active{
    transform: translateX(-26px);
}

/*------main-------*/

.main{
    height: 100%;
    display: flex;
    justify-content: space-around;
    background: #212121;
}
.left-culumn{
    width: 30%;
    height: 100%;
    float: left;
    position: relative;

}
.right-culumn{
    width: 50%;
    float: right;
    position: relative;


}
/*----img-box-----*/
.blob
{
    position: absolute;
    width: 450px;
    height: 450px;
    
}
.blob:nth-child(2)
{
    filter: blur(50px);
}

/*blobb*/
.blob2{
    position: absolute;
    width: 200px;
    height: 200px;
}

.blob2:nth-child(3)
{
    filter:blur(40px);
}


/*
.img-box{
    width: 20%;
    height: 40%;
    top: 130px;
    left: 100px;
    position: absolute;

}
.img-box img{
    bottom: 0;
    left: 0;
    transition: bottom 1s, left 1s;
    position: absolute;
}
.img-box .img-back{
    height: 80%;
    width: auto;
}
.img-box .img-main{
    height: 100%;
    width: auto;
    transform: translateX(-18.5%);
}
.img-box:hover .img-back{
    bottom: 30px;
}
.img-box:hover .img-main{
    left: 35px;
}
*/
/*-----content----*/
.content{
    position: absolute;
    top: 170px;
    left: 50px;
    color: var(--secondary-color);
    transition: color 1s;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #edf2fc;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #edf2fc;
    font-size: 20px;
}
span{
    color: var(--main-color);
}

button{
    color: white;
    text-decoration: none;
    background: var(--main-color);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    font-size: 15px;
    transition: background 1s, color 1s;
}

button:hover{
    background: var(--primary-color);
    color: var(--secondary-color);

}

.social-link{
    display: block;
    margin-top: 20px;
    font-size: 30px;
    transition: color 1s;
}
.social-link a{
    margin-right: 10px;
    color: var(--main-color);
    transition: 1s;
}
.social-link a:hover{
    color: var(--primary-color);
    

}
.right-culumn button a{
    text-decoration: none;
    color:#212121;
}

